// breakpoints
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1600px;

/*
defines whether to use strict column width (flex-basis + max-width) or only flex based initial value (flex-basis)
true: column width is fixed
false: column width is initial and can grow if needed, i.e. the content exceeds the column width
*/
$strict: true;

// column gap, it can be set to 0 or edite the loops to avoid having it
$col-margin: 12px;
/* 
max number of grids, it throws a percent as output from a calc result, 
if set 100, then there will be 100 columns, from 1% to 100% size
*/
$grid-cols: 100;

// generic utility code
* {
  font-family: sans-serif;
  font-size: 1rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  &-fluid {
    width: 100%;
  }
}
.row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 calc(#{$col-margin}/ -2);

  &-reverse {
    flex-direction: row-reverse;
  }

  @for $i from 1 through 12 {
    &-#{$i} {
      [class*="col"]:not([class*="col-"]) {
        flex-basis: calc(((100 /#{$i}) * 1%) - #{$col-margin});
        @if $strict {
          max-width: calc(((100 /#{$i}) * 1%) - #{$col-margin});
        }
      }
    }
    @media (min-width: $screen-xs) {
      &-xs-#{$i} {
        [class*="col"]:not([class*="col-"]) {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          }
        }
      }
    }
    @media (min-width: $screen-sm) {
      &-sm-#{$i} {
        [class*="col"]:not([class*="col-"]) {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          }
        }
      }
    }
    @media (min-width: $screen-md) {
      &-md-#{$i} {
        [class*="col"]:not([class*="col-"]) {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          }
        }
      }
    }
    @media (min-width: $screen-lg) {
      &-lg-#{$i} {
        [class*="col"]:not([class*="col-"]) {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          }
        }
      }
    }
    @media (min-width: $screen-xl) {
      &-xl-#{$i} {
        [class*="col"]:not([class*="col-"]) {
          flex-basis: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          @if $strict {
            max-width: calc(((100 /#{$i}) * 1%) - #{$col-margin});
          }
        }
      }
    }
  }
}
.no-wrap {
  flex-wrap: nowrap;
}
.no-strict {
  max-width: none !important;
}
[class*="col"] {
  margin: calc(#{$col-margin}/ 2);
  word-wrap: break-word;
}
// End generic utility code

// Grid system
.col {
  @for $i from 1 through $grid-cols {
    &-#{$i} {
      flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
      @if $strict {
        max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
      }
    }
  }

  @media (min-width: $screen-xs) {
    @for $i from 1 through $grid-cols {
      &-xs-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        }
      }
    }
  }

  @media (min-width: $screen-sm) {
    @for $i from 1 through $grid-cols {
      &-sm-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        }
      }
    }
  }

  @media (min-width: $screen-md) {
    @for $i from 1 through $grid-cols {
      &-md-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        }
      }
    }
  }

  @media (min-width: $screen-lg) {
    @for $i from 1 through $grid-cols {
      &-lg-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        }
      }
    }
  }

  @media (min-width: $screen-xl) {
    @for $i from 1 through $grid-cols {
      &-xl-#{$i} {
        flex-basis: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        @if $strict {
          max-width: calc(((100 / (#{$grid-cols} / #{$i})) * 1%) - #{$col-margin});
        }
      }
    }
  }
}
// End grid system

// Visual Debugger and example theming:
[class*="col-"] {
  padding: 8px;
}
div:not(.row) {
  text-align: center;
  outline: auto green;
  div:not(.row) {
    outline: auto blue;
    div:not(.row) {
      outline: auto orange;
      div:not(.row) {
        outline: auto brown;
        div:not(.row) {
          outline: auto yellow;
        }
      }
    }
  }
}
