$modal-width: 800px;
/* responsive modal */
.modal-btn {
  text-decoration: none;
  border-radius: 0.4em;
  padding: 5px 15px;
}
.modal-btn:hover,
.modal-btn:hover p {
  background: #f0f0f0;
}
.modal-window {
  position: fixed;
  left: 50%;
  top: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    + .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 990;
    }
  }
  & > div.modal-content {
    width: $modal-width;
    max-width: calc(100vw - 16px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    background: #fff;
    max-height: 90vh;
    overflow-y: auto;
  }
  .modal-close:not(.btn) {
    position: fixed;
    right: 15px;
    top: 5px;
    font-size: 1.2rem;
    text-decoration: none;
  }
  .modal-close,
  .modal-close:visited {
    color: #212121;
  }
  .btn.modal-close {
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid #333;
    padding: 10px 15px;
    background: #fff;
    border-radius: 0.4em;
  }
  .btn.modal-close:hover {
    background: #f0f0f0;
  }
  .modal-footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 15px 0px 0px 5px;
  }
}
